/Debug/
/Release/
/.vs/
/ArkHelper_Server/Debug/
/ArkHelper_Server/Release/
/ArkHelper_Server/Config.json
/ArkHelper_Server/AppLog/ArkUpdateLog.txt
/ArkHelper_Server/AppLog/AppLog.txt
/ArkHelper_Server/AppLog/DebugLog.txt
/ArkHelper_Server/AppLog/ReleaseLog.txt